@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  background-color: #eaf0f1;
  font-family: "Montserrat", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: #082353;
}
